[submodule "SingleUserOnlineClient/deps/djinni"]
	path = SingleUserOnlineClient/deps/djinni
	url = https://github.com/dropbox/djinni.git
[submodule "SingleUserOnlineClient/deps/gyp"]
	path = SingleUserOnlineClient/deps/gyp
	url = https://chromium.googlesource.com/external/gyp.git
